@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="get"><button>I'm bored!</button></form>
    <form method="post">
        <select name="type">
            <option value="social">social</option>
            <option value="cooking">cooking</option>
            <option value="busywork">busywork</option>
            <option value="busywork">relaxation</option>
            <option value="music">music</option>
        </select>
        <input type="number" name="participants" value="1"/>
        <input type="range" name="price" min="0" max="100" value="50"/>
        <button>GetRandomActivity</button>
    </form>
    <h1>@Model.Activity.Activity</h1>
    <p>Type = @Model.Activity.Type</p>
    <p>Number of participants = @Model.Activity.Participants</p>
    <p>Price = @Model.Activity.Price</p>
    <p>Accessibility = @Model.Activity.Accessibility</p>


</div>
