@page
@using BoredWebApp.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<form asp-page-handler="login" method="post">
    <button>Login</button>
</form>
<div class="container ">
    <div class="text-center">
        <div class="row justify-content-center mt-5 mb-3">
            <div class="activity-card pl-5 pr-5 pt-2 pb-2">
                <h1 id="activity-name">@Model.Activity.Activity</h1>
                <div class="text-left">
                    <h4>Type: @Model.Activity.Type</h4>
                    <h4>Number of participants: @Model.Activity.Participants</h4>
                    <h4>Price: @Model.Activity.Price</h4>
                    <h4>Accessibility: @Model.Activity.Accessibility</h4>
                </div>
                <div class="my-3 text-left">
                    <form asp-page-handler="save" method="post">
                        <button class="main-button p-2">Save Activity</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <h3>Still Bored?</h3>
            <a class="main-button p-2" href="/">Get New Activity!</a>
        </div>
        <div class="m-5">
            <h4 class="button-tag">Filter Your Activity</h4>
            <a class="fas fa-chevron-down down-button" href="#specific-activity"></a>
        </div>
        <div class="spacer-400"></div>

        <div id="specific-activity"></div>
        <div class="m-3">
            <a class="fas fa-chevron-up down-button" href="#top"></a>
            <h4 class="button-tag">Random Activity</h4>
        </div>
        <div class="spacer-50"></div>

        <div class="row justify-content-center mt-5 mb-5">

            <div class="col">
                <form method="post">
                    <label for="type">Select Desired Type</label>
                    <select name="type" asp-for="ActivityFormRequest.Type">
                        <option value="social">social</option>
                        <option value="cooking">cooking</option>
                        <option value="busywork">busywork</option>
                        <option value="relaxation">relaxation</option>
                        <option value="music">music</option>
                    </select>

                    <label for="participants">Select Desired Number Of Participants</label>
                    <input type="number" name="participants" value="1" asp-for="ActivityFormRequest.Participants" />

                    <label for="price">Select Desired Price Range</label>
                    <select name="price" asp-for="ActivityFormRequest.Price">
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                    <button class="main-button p-2" href="#specific-activity">Generate Activity</button>
                </form>
            </div>

            <div class="col activity-card pl-5 pr-5 pt-2 pb-2">
                <h1 id="activity-name">@Model.SpecificActivity.Activity</h1>
                <div class="text-left">
                    <h4>Type: @Model.SpecificActivity.Type</h4>
                    <h4>Number of participants: @Model.SpecificActivity.Participants</h4>
                    <h4>Price: @Model.SpecificActivity.Price</h4>
                    <h4>Accessibility: @Model.SpecificActivity.Accessibility</h4>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5>Comments:</h5>
        @*<div>
            @foreach(Comment comment in Model.Comments)
            {
                <div class="my-2 row">
                    <p class="col-2">Author: @comment.User</p>
                    <p class="col-2">Date: @comment.Date</p>
                    <p class="col-8">@comment.Body</p>
                </div>
            }
        </div>*@
        <div class="row">
            <h5>Post New Comment</h5>
            <form method="post" asp-page-handler="comment">
                <textarea rows="5" cols="50" name="body"></textarea>
                <button class="main-button p-2"></button>
            </form>
        </div>
    </div>
</div>